<!-- <html>
    <head>
        <title>ALBUM CREATE</title>
    </head>
    <body>
       
    </body>
</html> -->


<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                <h2><%= title%></h2>
                <form action="/album/create" method="POST">
                    <label for="albumName">
                        Title : 
                        <br><input type="text" id="albumName" name="albumName" required>
                    </label>
                    <br><br>
                    <label for="artist">Artist : 
                        <select name="artist" id="artist" required> 
        
                            <% for(let i = 0 ; i < allArtists.length ; i++){ %>
                                <option value= <%=allArtists[i].id %> > <%=allArtists[i].firstname %> </option>
            
                            <%}%>
            
                        </select> 
        
                    </label>
                    <br><br>
                    <label for="label">Label : 
                        <select name="label" id="label" required>
        
                            <% for(let i = 0 ; i < allLabels.length ; i++){ %>
                                <option value= <%=allLabels[i].id %> > <%=allLabels[i].labelname %> </option>
            
                            <%}%>
            
                        </select> 
        
                    </label>
                    <br><br>
                    <label for="genre">Genre : 
                        <select name="genre" id="genre" required>
        
                            <% for(let i = 0 ; i < allGenres.length ; i++){ %>
                                <option value= <%=allGenres[i].id %> > <%=allGenres[i].genrename %> </option>
            
                            <%}%>
            
                        </select> 
        
                    </label>
                    <br><br>
                    <label for="releaseDate">Release Date :
                        <br><input type="date" name="releaseDate" id="releaseDate" required>
                    </label>
                    <br><br>
        
                    <label for="imageUrl">Image Url :
                        <br> <input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com" pattern="https://.*"  >
                    </label>
                   
                    <br><br>
                    <button  class="submit button"  type="submit">CREATE ALBUM</button>
                </form>
            </div>
        </div>

    </body>
</html>