<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <%- include('./dialogDelete', {name : "Album",linkedItems : "Releases", itemName: album[0].albumname, deleteLink : "/album/"+ album[0].id +"/delete"}); %>
            <div class="infoContainer">
                 <div class="artistDetails">
                    <div class="artistImage">
                        <img src="<%=album[0].imageurl%>" alt="">
                    </div>
                    <div class="artistInfo">
                        <div class="artistUpdateDelete">

                            <div class="artistAndAlbumName">
                                <a class="infoLink" href="/artist/<%=album[0].artist_id%>"><h2><%=album[0].firstname + " "+ album[0].lastname%></h2></a>
                                <span><h2> - <%=album[0].albumname%></h2></span>
                            </div>
                            
                            <a  class="infoLink" href="/album/<%=album[0].id%>/update">
                                <div class="editButton">
                                    <i class="fa fa-pencil" style="font-size:24px"></i>  
                                </div>
                            </a>
                            <div class="deleteButton">
                                <i class="fa fa-trash-o" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="artistOtherInfo">
                            <span><p>Label : <a  class="infoLink" href="/label/<%=album[0].label_id%>"><%=album[0].labelname%></a></p></span>
                            <% const d =  new Date(album[0].releasedate).getFullYear()%>
                            <span><p>Release : <%= d %></p></span>
                            <span><p>Genre : <a  class="infoLink" href="/label/<%=album[0].genre_id%>"><%=album[0].genrename%></a></p></span>
                            
                        </div>
                    </div>
                </div>
                
            <%- include("showReleasesWithoutArtistName" ,{allReleases : allReleases }) %>


        </div>

    </body>
    <script src="/dialogController.js"></script>
</html>