<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            
            <div class="infoContainer">
                 <div class="artistDetails">
                    <div class="artistImage">
                        <img src="<%=album[0].imageurl%>" alt="">
                    </div>
                    <div class="artistInfo">
                        <div class="artistUpdateDelete">
                            <span><h1><%=album[0].firstname + " "+ album[0].lastname%> - <%=album[0].albumname%></h1></span>
                            <a  class="infoLink" href="/album/<%=album[0].id%>/update">
                                <div class="editButton">
                                     Edit   
                                </div>
                            </a>
                            <a class="infoLink" href="/album/<%=album[0].id%>/delete">
                                <div class="deleteButton">
                                    Delete
                                </div>
                            </a>
                        </div>
                        <div class="artistOtherInfo">
                            <span><h4>Label : <a  class="infoLink" href="/label/<%=album[0].label_id%>"><%=album[0].labelname%></a></h4></span>
                            <% const d =  new Date(album[0].releasedate).getFullYear()%>
                            <span><h4>Release : <%= d %></h4></span>
                            <span><h4>Genre : <a  class="infoLink" href="/label/<%=album[0].genre_id%>"><%=album[0].genrename%></a></h4></span>
                            
                        </div>
                    </div>
                </div>
                
            <%- include("showReleases" ,{allReleases : allReleases }) %>


        </div>

    </body>
</html>