
<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>

    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            
            <div class="formContainer">
                <h3><%= title %></h3>
                <form  method="POST">
                    <label for="firstName">First Name :
                        <input type="text" name="firstName" id="firstName" required value="<%= typeof artist === "undefined" ? "" : artist[0].firstname %>" >
                    </label>
                    <br><br>
                    <label for="lastName">Last Name :
                        <input type="text" name="lastName" id="lastName"  value="<%= typeof artist === "undefined" ? "" : artist[0].lastname %>" >
                    </label>
                    <br><br>
                
                    <label for="birthDate">Date of Birth :
                        <input type="date" name="birthDate" id="birthDate" required value="<%= typeof artist === "undefined" ? "" : artistBirthDate %>" >
                    </label>
                    <br><br>
                    <label for="deathDate">Date of Death :
                        <input type="date" name="deathDate" id="deathDate" value="<%= typeof artist === "undefined" ? "" : artistDeathDate %>" >
                    </label>
                    <br><br>
                    <label for="country">Country :
                        <input type="text" name="country" id="country" required value="<%= typeof artist === "undefined" ? "" : artist[0].country %>" >
                    </label>
                    <br><br>
                    <label for="imageUrl">Image Url :
                        <input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com"  pattern="https://.*" value="<%= typeof artist === "undefined" ? "" : artist[0].imageurl %>">
                    </label>
        
                    <br><br> <br><button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </body>
</html>