
<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                <%- include('./dialogDelete', {name : "Artist",linkedItems : "Albums and Releases", itemName: artist[0].firstname +" "+artist[0].lastname, deleteLink : "/artist/"+ artist[0].id +"/delete"}); %>

                 <div class="artistDetails">
                    <div class="artistImage">
                        <img src="<%=artist[0].imageurl%>" alt="">
                    </div>
                    <div class="artistInfo">
                        <div class="artistUpdateDelete">
                            <span><h1><%= artist[0].firstname +" "+artist[0].lastname %></h1></span>
                            <a  class="infoLink" href="/artist/<%=artist[0].id%>/update">
                                <div class="editButton">
                                    <i class="fa fa-pencil" style="font-size:24px"></i>  
                                </div>
                            </a>
                            <div class="deleteButton">
                                <i class="fa fa-trash-o" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="artistOtherInfo">
                            <% const d = new Date(artist[0].birthdate).toDateString() %>

                            <p>Born : <%=d %></p>
                            <p>Country : <%=artist[0].country%> </p>
                        </div>
                    </div>
                </div>
                <%- include("showAlbumsWithYear" ,{allAlbums : allAlbums}) %>
                <%- include("showReleasesWithoutArtistName" ,{allReleases : allReleases }) %>
            </div>

            
        </div>

    </body>
    <script src="/dialogController.js"></script>
</html>