<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>

    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                <div class="cardContainer">
                    <div class="albumsCountCard countCard">
                        <div class="countValue"><%=albumCount%> Total Albums</div>
                        <a href="/category/albums"> More Info</a>
                    </div>
                    <div class="releasesCountCard countCard">
                        <div class="countValue"><%=releaseCount%> Items in Stock</div>
                        <a href="/category/releases"> More Info</a>
                    </div>
                    <div class="lowReleaseCountCard countCard">
                        <div class="countValue"><%=lowStockReleaseCount%> Items Low in Stock</div>
                        <a href="/lowStockReleases"> More Info</a>
                    </div>
                </div>
                
        
                <%- include("showReleases" ,{allReleases : allReleases }) %>
            </div>
        </div>

    </body>
</html>