



<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <script>
    
        
            function toggleDeleteForm(){
                let element  = document.getElementById("deleteForm");
                if(element.style.display === "none"){
                    element.style.display = "block";
                }else{
                    element.style.display = "none";
                }
        //   console.log(element)
    
        }
        </script>
    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                <span><%= album[0].albumname %></span>
        
        
                <button data-target="" onclick= "toggleDeleteForm()" >
                    DELETE
                </button> 
                
                
                <div id="deleteForm"  style = "display: none;">
                    <p>Deleting the album will delete all its releases</p>
                    <p>DO YOU STILL WANT TO DELETE THE ALBUM  </p>
                    <button onclick="toggleDeleteForm()">CANCEL</button>
                    <form method="POST">
                        
                        <button type = "submit">DELETE</button>
                    </form>
                </div>
                <h2>Releases</h2>
                <% for(let i=0;i<allReleases.length ; i++) { %>
                    <a href="/release/<%=allReleases[i].id%>"><%=allReleases[i].albumname%></a>
                    <p>Format : <%=allReleases[i].format%></p>
                    <br><br>
                <%}%>
                
            </div>
        </div>

    </body>
</html>


