<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
    </head>
    <body>   
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
                
                    <h4>All Genres</h4>
                    <ul>
                        <% for(let i=0;i<allGenres.length ; i++) { %>
                            <li><a class="infoLink" href="/genre/<%=allGenres[i].id%>"><h4><%=allGenres[i].genrename%></h4></a></li>
                        <%}%>
                    </ul>
                  

                
               
            </div>
        </div>

    </body>
</html>