<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
    </head>
    <body>        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <div class="infoContainer">
             
                    <h4>All Labels</h4>
                    <ul>
                        <% for(let i=0;i<allLabels.length ; i++) { %>
                            <li><a class="infoLink" href="/label/<%=allLabels[i].id%>"><h4> <%=allLabels[i].labelname%></h4></a></li>
                            
                        <%}%>
                    </ul>
                  
              
            </div>
        </div>
    </body>
</html>