<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <%- include('./dialogDelete', {name : "Label",linkedItems : "Albums and Releases", itemName: label[0].genrename, deleteLink : "/label/"+ label[0].id +"/delete"}); %>
            <div class="infoContainer">
            <div class="artistInfo">
                <div class="artistUpdateDelete">
                    <span><h2><%= label[0].labelname %></h2></span>
                    <a class="infoLink" href="/label/<%=label[0].id%>/update">
                        <div class="editButton">
                            <i class="fa fa-pencil" style="font-size:24px"></i>
                        </div>
                    </a>
                    <div class="deleteButton">
                        <i class="fa fa-trash-o" style="font-size:24px"></i>
                    </div>
                </div>
                <div class="artistOtherInfo">
                    <span>Founded : <%=label[0].yearfounded%></span>
                </div>
            </div>
 
            <%- include("showAlbumsWithArtistName" ,{allAlbums : allAlbums}) %>
            <%- include("showReleasesWithoutArtistName" ,{allReleases : allReleases }) %>
     

    </body>
    <script src="/dialogController.js"></script>
</html>