<html>
    <title>
        Release Details
    </title>
    <body>
        <a href="/album/<%=release[0].album_id%>"><%=release[0].albumname%></a>
        <p>Format : <%=release[0].format%></p>
        <a href="/release/<%=release[0].id%>/update">Edit</a><br><br>
        <a href="/release/<%=release[0].id%>/delete">Delete</a><br><br>
    </body>
   
</html>