<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        </head>
    <body>   
        
        <%- include('./sideBar'); %>
        <div class="rightContainer">
            <%- include('./header'); %>
            <%- include('./dialogDelete', {name : "Release",linkedItems : "Details like price , stock etc.", itemName: release[0].albumname, deleteLink : "/release/"+ release[0].id + "/delete"}); %>
            <div class="infoContainer">
                <div class="artistDetails">
                    <div class="artistImage">
                        <img src="<%=release[0].imageurl%>" alt="">
                    </div>
                    <div class="artistInfo">
                        <div class="artistUpdateDelete">

                            <div class="releasename">
                                <a class="infoLink" href="/artist/<%=release[0].artist_id%>"><h2><%=release[0].firstname + " " + release[0].lastname %></h2></a>
                                <h2> - </h2>
                                <a class="infoLink" href="/album/<%=release[0].album_id%>"><h2><%=release[0].albumname%></h2></a>
                            </div>
                            <a class="infoLink" href="/release/<%=release[0].id%>/update">
                                <div class="editButton">
                                    <i class="fa fa-pencil" style="font-size:24px"></i>  
                                </div>
                            </a>
                            <!-- <a class="infoLink" href="/release/<%=release[0].id%>/delete"> -->
                                <div class="deleteButton">
                                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                                </div>
                            <!-- </a> -->
                        </div>
                 

                        <div class="artistOtherInfo">
                            <span><p>Label : <a class="infoLink" href="/label/<%=release[0].label_id%>"><%=release[0].labelname%></a></p></span>
                            <% const d =  new Date(release[0].releasedate).getFullYear()%>
                            <span><p>Release : <%= d %></p></span>
                            <span><p>Genre : <a class="infoLink" href="/label/<%=release[0].genre_id%>"><%=release[0].genrename%></a></p></span>
                            <span><p>Barcode : <%= release[0].barcode %></p></span>
                            <span><p>Price : $<%= release[0].price %></p></span>
                            <div class="stock">
                                <p><%= release[0].stock %> In Stock</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="/dialogController.js"></script>
</html>