<h4><%= allAlbums.length %> Albums</h4>
<div class="cardContainer">
    <% for(let i=0;i<allAlbums.length ; i++) { %>
        <div class="eachCard withoutYearCard">
            <div class="cardImageDiv">
                <a href="/album/<%=allAlbums[i].id%>"><img src="<%=allAlbums[i].imageurl%>" alt="albumImage"></a>
            </div>
            <div class="cardInfoDiv">
                <div class="cardHeading"><a href="/album/<%=allAlbums[i].id%>"><%=allAlbums[i].albumname%></a></div>
                <% const d =  new Date(allAlbums[i].releasedate).getFullYear()%>
                <div class="cardInfo"><%= d %></div>
            </div>
        </div>
    <%}%>
</div>