<h2><%= allReleases.length %> Releases</h2>
<div class="mainContainer">
    <% for(let i=0;i<allReleases.length ; i++) { %>
    
        <div class="eachItem eachReleaseItem">
            <div class="itemImage">
                <a href="/release/<%=allReleases[i].id%>"><img src="<%=allReleases[i].imageurl%>" alt="albumImage"></a>
            </div>
            <div class="releaseDetails">
                <a class="albumName" href="/release/<%=allReleases[i].id%>"><p class="itemHeading"><%=allReleases[i].albumname%></p></a>
                <a  class="infoLink" href="/artist/<%=allReleases[i].artist_id%>"><p><%=allReleases[i].firstname + " "+ allReleases[i].lastname%></p></a>
                <p><%=allReleases[i].format%></p>
                <div class="priceAndStock">
                    <div class="price itemMinorInfo">$<%=allReleases[i].price%></div>
                    <div class="stock"><%=allReleases[i].stock%> available</div>
                </div>
            </div>
    
        </div>
    <%}%>
</div>