<h4><%= allAlbums.length %> Albums</h4>
<div class="mainContainer">
    <% for(let i=0;i<allAlbums.length ; i++) { %>
        <div class="eachCard">
            <div class="cardImageDiv">
                <a href="/album/<%=allAlbums[i].id%>"><img src="<%=allAlbums[i].imageurl%>" alt="albumImage"></a>
            </div>
            <div class="cardInfoDiv">

                <div class="cardHeading"><a href="/album/<%=allAlbums[i].id%>"><%=allAlbums[i].albumname%></a></div>
                
                <div class="cardInfo"><a href="/artist/<%=allAlbums[i].artist_id%>"><%=allAlbums[i].firstname + " " + allAlbums[i].lastname%></a></div>
                
                <% const d =  new Date(allAlbums[i].releasedate).getFullYear()%>
                <div class="cardInfo"><%= d %></div>

            </div>

        </div>
    <%}%>
</div>